.form {
  .form-row {
    .form-column {

    }
    .form-column+.form-column {
      margin-left: 30px;
    }
  }
  .form-group {
    margin-bottom: 15px;
    label {
      display: block;
      margin-bottom: 5px;
    }
  }
  .buttons {
    text-align: right;
    *+* {
      margin-left: 5px;
    }
  }
}
