doctype html
html
  head
    title BIG2
    if process.env.NODE_ENV === 'production'
      link(rel="stylesheet" href="/public/js/styles.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    div#react-container !{htmlString}
    script.
      window.__INITIAL_STATE__ = !{JSON.stringify(initialState)};
    if process.env.NODE_ENV === 'production'
      script(src="/public/js/app.js")
    else
      script(src="http://localhost:8080/public/js/app.js")
